.body {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background: url("./Images/background1.jpg");
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.jumbo {
  display: flex;
  height: 30vh;
  width: 50vw;
  background-image: radial-gradient(
    circle at 20% 107%,
    #27bb8e,
    #00a7a1,
    #0090ac,
    #0077a9,
    #005d98,
    #005297,
    #024693,
    #1a398e,
    #27379d,
    #3932aa,
    #4f29b5,
    #6615be
  );
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px black;
  flex-direction: column;
}

h2 {
  font-size: 28px;
  color: white;
  text-shadow: 2px 2px 10px black;
  font: Georgia, "Times New Roman", Serif;
}

h3 {
  font-size: 16px;
  font: Arial, Helvetica, Sans-serif;
  color: white;
  text-shadow: 2px 2px 6px black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-decoration: none;
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  text-shadow: 4px 6px 6px black;
}
.project {
  width: 20vw;
  display: flex;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  justify-content: center;
  align-items: flex-end;
}
.project p {
  background: white;
  padding: 0.2em;
  border-radius: 5px;
  text-align: center;
}
.row {
  height: 30vh;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 12px;
  }
  .row {
    height: 20vh;
  }
  .container {
    margin-top: 10vh;
  }
  .project p {
    font-size: 12px;
    font-weight: bold;
  }
}
