.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.psychic {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: radial-gradient(
    circle at 30% 107%,
    #1c8912,
    #008762,
    #007fa8,
    #006fd0,
    #004fc4,
    #0054ca,
    #0058d0,
    #005dd6,
    #008cf3,
    #00b4fb,
    #00d9f7,
    #5ffbf1
  );
  height: 100vh;
}

h2 {
  padding: 0px;
  margin: 0px;
}
